{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us - PatientCare System{% endblock %}

{% block content %}
    <h1>Contact Us</h1>

    <p>
        If you have questions, feedback, or need support regarding the PatientCare system, please reach out through the following channels:
    </p>

    <p>
        <strong>Email:</strong> mk.6374218503@gmail.com / pradeepk15350@gmail.com<br>
        <strong>Phone:</strong> +91 6374218503 / +91 8220225686 <br>
    </p>

    <br>
    <a href="{% url 'index' %}" class="link-btn">Back to Home</a>
{% endblock %}